name: pages

on:
 push:
   branches:
     - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        uses: libratbag/libratbag/.github/actions/pkginstall@master
        with:
          apt: pkg-config python3-pip python3-gi libgirepository1.0-dev
          pip: sphinx sphinx-rtd-theme sphinxcontrib-apidoc sphinx-autodoc-typehints pyudev pygobject myst-parser
      - name: build docs
        run: make html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/html/
          allow_empty_commit: true
